<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>detalhes</title>
    <link
      rel="shortcut icon"
      href="http://www.digi2.com.br/wp-content/uploads/2014/10/icon_filmespublicitarios-1.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <main class="body_container">
      <a class="voltar" href="/leadsfacebook"><img src="/img/botao-voltar.png" alt=""></a>
      <section class="container">
        <h1><%= clientesDetalhes.nome %></h1>
        <p>Email: <span class="span"><%= clientesDetalhes.email %></span></p>
        <p>
          WhatsApp: <span class="span"><%= clientesDetalhes.whatsapp %></span>
        </p>
        <p>
          Tipo do Imóvel:
          <span class="span"><%= clientesDetalhes.tipodeimovel %></span>
        </p>
        <p>Valor: <span class="span"><%= clientesDetalhes.valor %></span></p>
        <p>Data de Nascimento: <span class="span"><%= clientesDetalhes.datanasc %></span></p>
        <p>
          Idade:
          <span class="span">
            <% const data = new Date() %> <%=
            (Number(clientesDetalhes.datanasc.slice(clientesDetalhes.datanasc.length
            - 4)) - data.getFullYear()) * -1 %> anos</span
          >
        </p>
      </section>
    </main>
  </body>
</html>
